* {
  text-align: left;
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  background: #FAEBD7;
  color: #008000 ;
}

h1 {
  background: #D2691E;
  color: #FFFFFF;
}

header {
  background: #333;
}